.bg-white { background: $white !important;}
.bg-black { background: $black !important;}
.bg-orange { background: $orange !important;}
.bg-blue { background: $blue !important;}
.bg-light-gray { background: $light-gray !important;}