.bg-white { background-color: $white !important;}
.bg-black { background-color: $black !important;}
.bg-orange { background-color: $orange !important;}
.bg-blue { background-color: $blue !important;}
.bg-light-gray { background-color: $light-gray !important;}

.bg-header { background-image: url('http://drive.thunder.id/file/public/3/1/2015/10/18/07/header-bg.png') ; }