// TOPBAR
.topbar { 
	background: $blue;
	color:$white;
	@extend .pt-xs;
	@extend .pb-xs;
}

// TOPBAR
.header { 

	.menu { 
		a { text-transform: uppercase; }
	}
}

header { 
	box-shadow: 0px 5px 5px #ccc;
}